* {
  display: block;
  margin: auto;
}
header {
  height: 200px;
}
h1 {
  background-color: #c4c4c4;
  color: #005677;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.white-space {
  height: 133px;
}
.datosP {
  background-color: #c4c4c4;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #005677;
}
.list {
  margin: 0 auto 25px;
  list-style: none;
  text-align: left;
}

.formA {
  background-color: #c4c4c4;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #005677;
}

.expL {
  background-color: #c4c4c4;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #005677;
}

footer {
  background-color: #005677;
  ;
  color: rgba(255, 255, 255, 1);
  justify-content: center;
  display: flex;
  width: 100%;
  height: 37px;
  margin: 10px auto 10px auto;
}

.contacto {
  font-family: "Times New Roman";
  color: rgba(255, 255, 255, 1);
  padding: 10px;
}

#icoInstagram {
  margin: auto 20px auto 10px;
  padding: 10px;
}

#icoLinkedin {
  margin: auto 20px auto 10px;
  padding: 10px;
}
